body{
  display: flex;
  flex-direction: column;
  align-content: stretch;
  width: 125px;
  margin: 0 auto;
}

bookmarkAction{
  flex: 1 1 25px;
  background-color:yellow;
  border-radius: 0px 0px 0px 0px;
}

goToMain{
  flex: 1 1 25px;
  background-color:green;
}

notifications{
  flex: 2 2 50px;
  background-color:red;
}

solidLine{
  flex: 0 0 2px;
  background-color: Black;
}

bookmarkPageInnerPopup{
  display: none;
}

.overlapping{
  pointer-events: none;
  z-index: 1;
}