/*element injector*/
SiteWatcherElementSelectorModal{
  position: fixed; /* Stay in place */
  background-color: #fefefe;/*basically white*/
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 400px; /* Could be more or less, depending on screen size */ 
  height: 400px;
  margin-left:-150px;
  margin-top:-50px;
  z-index: 10000;/*really high*/
  left:50%;
  top:100px;
  display: block;
}

SiteWatcherElementSelectorButton{
  background-color: #4CAF50; /* Green */
  border: solid;
  color: white;
  padding: 3px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}

/*colors are theoretically colorblind friendly*/
/*order of declaration matters here*/
/*All of these are declared important. This is considered bad practice, but is done because it is difficult to override other people's stuff consistently*/
.SiteWatcherElementSelectorOverlayExcluded{
  background-color:#F5793A !important;/*orangey*/
}
.SiteWatcherElementSelectorOverlayIncluded{
  background-color:#85C0F9 !important;/*light blue*/
}
.SiteWatcherElementSelectorOverlayProspective{
  background-color:#FFC0CB !important; /*pink*/
}
.SiteWatcherElementSelectorOverlaySelected{
  background-color: #A95AA1 !important; /*purpley*/
}

/*Rule item types*/
SiteWatcherElementSelectorRuleItem{
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content:space-between;
  align-content:stretch;
}
SiteWatcherElementSelectorRuleNickname{
  
}
SiteWatcherElementSelectorRuleSelect{
  
}
SiteWatcherElementSelectorRuleDelete{
  
}
SiteWatcherElementSelectorRulesList{
  display:flex;
  flex-direction:column;
  justify-content: flex-start;
  align-content:stretch;
  flex: 1 1 auto;
  width: 100%;
}