
body{
  display: flex;
  background-color: #222426;
  flex-direction: column;
  justify-content: flex-start;
}

topBar{
  display:flex;
  flex-direction:row;
  align-items:center;
  flex-basis: 100px;
  background-color:red;
}

pagesBar{
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;
  flex-basis: 75px;
  background-color: blue;
}
.pagesBarItem{
  
}

contentSectionLarge{
  display:flex;
  flex-direction:row;
  justify-content:space-around;
  flex-basis:500px;
  background-color: #008000;
}

contentSection{
  display:flex;
  flex-direction:column;
  justify-content: flex-start;
  align-items:center;
  flex: 4 4 auto;
  background-color: yellow;
}

adSpace{
  flex : 1 1 auto;
  background-color: white;
}

bookmarksList{
  display:flex;
  flex-direction:column;
  justify-content: flex-start;
  align-content:stretch;
}

bookmarksListItem{
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content:stretch;
  align-content:stretch;
}
bookmarkLink{
  order: 1;
  flex: 4 4 300px;
}
bookmarkStatus{
  order: 2;
  flex: 1 1 50px;
}
bookmarkAction{
  order: 3;
  flex: 1 1 50px;
}

button.textOnly{
  background: none;
  border: none;
}
.upToDate{
  color:green;
}
.updated{
  color:red;
}
.edit{
  color:gray;
}



/* The Modal (background) */
.modal{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}